@page "/users"
@using SkillzMatrix.Shared.Models
@using SkillzMatrix.Services
@inject IUserService UserService

<h1>Users</h1>

@if (users == null)
{
    <Spinner></Spinner>
}
else
{
    <div class="row">
        <div class="col-md-12">
            Filter by name:
        </div>
        <div class="col-md-12 mb-3">
            <input type="text" @bind-value="@usersName" @bind-value:event="oninput" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-hover table-striped fixed-table-body">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in users.Where(x => x.Name.ToLower().Contains(usersName.ToLower())))
                    {
                        <tr>
                            <td>@user.ID</td>
                            <td>@user.Name</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    UserModel[] users;

    string usersName { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetAllUsersAsync();
    }
}
